@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="hero-section text-center">
    <h1 class="hero-heading display-4">Welcome to Contact Management</h1>
    <p class="hero-text">
        Manage your contacts efficiently and effortlessly.
        Learn more about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
</div>
